@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: normal;
  src: url('./assets/font/glancyr-glancyr-regular-400.ttf');
}

@font-face {
  font-family: semibold;
  src: url('./assets/font/glancyr-glancyr-semibold-600.ttf');
}

@font-face {
  font-family: bold;
  src: url('./assets/font/glancyr-glancyr-bold-700.ttf');
}

@font-face {
  font-family: regulardin;
  src: url('./assets/font/DIN-2014_Regular.otf');
}

.bold {
  font-family: bold;
}

.semibold {
  font-family: semibold;
}

.normal {
  font-family: normal;
}

.regular {
  font-family: regulardin;
}

.optioncard:hover {
  background: linear-gradient(180deg, #FFFFFF -7.81%, #25AAE1 146.35%);

}